.solution-header-picture {
    max-height: 150px;
    overflow: hidden;
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}

.panorama-popup .solution-header-picture {
    height: 100px !important;
	width: 100px !important;
    border-radius: 100px;
}

.solution-inner {
    -webkit-box-shadow: 0px 0px 30px -15px rgb(0 0 0 / 15%), 0px 10px 30px -10px rgb(0 0 0 / 30%);
    box-shadow: 0px 0px 30px -15px rgb(0 0 0 / 15%), 0px 10px 30px -10px rgb(0 0 0 / 30%);
}

.solution-container {
	font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align: center;
}

.solution-background{
	background: #F5F5F5 !important;
}

.solution-title {
    font-size: 14px;
    line-height: 25px;
    padding: 20px;
    color: #8fbf4b;
}

.solution-submit {
	font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    border-bottom: 1px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;
    padding: 15px;
    margin: 15px;
}
span.solution-provider-name {
	font-weight: bold;
}

.solution-location-label {
    color: #61666c!important;
}
.solution_location {
    padding-bottom: 10px;
    color: #d1d1d1;
}

.region-solutions-hide{
	display: none !important;
}

.panorama-marker-popup .solution-inner {
	max-width: 230px;
	text-align: center;
}

.panorama-popup .mapboxgl-popup-content{
	padding: 0px;
}

.panorama-popup .solution-title {
	font-size: 14px;
	line-height: 21px;
}

.panorama-popup .solution-submit {
	padding: 0px;
	margin: 10px;
}

.panorama-popup .solution_location {
    padding-bottom: 10px;
    padding-bottom: 5px;
}

